$website-width: 1200px;
// Colors
$primary-color: #1dd2e4;
$primary-dark-color: #12929e;

$secondary-color: #7fe0a4;
$secondary-dark-color: #68b886;

$light-color: #fff;
$dark-color: #333;

$white-faded: rgba(255, 255, 255, 0.5);
$dark-faded: rgba(100, 100, 100, 0.4);

// Images
$header-home-image: url('../img/header_01.jpg');
$about-image: url('../img/image_01.jpg');

// Gallery Feature Images
$gallery-feature:url('../img/image_01.jpg');
$gallery-transition: all 250ms ease-in-out;